<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="store.createapp.android.apicloud">

    <!-- 访问网络  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 写外部存储  -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问wifi网络信息,wifi信息可用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取wifi的获取权限,wifi信息可用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application>
        <activity
                android:name="store.createapp.android.apicloud.WebPageModule"
                android:configChanges="orientation|locale|keyboardHidden|screenLayout|screenSize|smallestScreenSize|keyboard"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>
</manifest>
